body {
    margin-bottom: 40px !important;
}

#permission-bar-prompt-content, #permission-bar {
    color: #FFF;
    font-family: 'Open Sans', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 300;
}

#permission-bar-prompt-content a, #permission-bar a, #permission-bar-prompt-content span {
    color: #31A8F0;
    text-decoration: none;
}

#permission-bar-prompt-content a:hover, #permission-bar a:hover {
    color: #31A8F0;
    text-decoration: underline;
}

#permission-bar-prompt-close {
    background: url(x.png) no-repeat;
    display: block;
    float: right;
    height: 14px;
    width: 14px;
}

#permission-bar-prompt-logo {
    background: url(logo.png) no-repeat;
    display: block;
    float: left;
    height: 42px;
    width: 190px;
}

#permission-bar-prompt-close span, #permission-bar-prompt-logo span {
    display: none;
}

#permission-bar {
    background: #45484D;
    background:    -moz-linear-gradient(top,  rgba(30,30,30,0.95) 0, rgba(0,0,0,0.95) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,30,30,0.95)), color-stop(100%,rgba(0,0,0,0.95)));
    background: -webkit-linear-gradient(top,  rgba(30,30,30,0.95) 0, rgba(0,0,0,0.95) 100%);
    background:      -o-linear-gradient(top,  rgba(30,30,30,0.95) 0, rgba(0,0,0,0.95) 100%);
    background:     -ms-linear-gradient(top,  rgba(30,30,30,0.95) 0, rgba(0,0,0,0.95) 100%);
    background:         linear-gradient(to bottom,  rgba(30,30,30,0.95) 0, rgba(0,0,0,0.95) 100%);
    bottom: 0;
    font-size: 13px;
    left: 0;
    margin: 0;
    padding: 3px;
    position: fixed;
    width: 100vw;
    z-index: 9999;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc45484d', endColorstr='#cc000000',GradientType=0 );
}

#permission-bar p {
    float: left;
    margin: 4px 0 0 20px;
    padding: 0;
}

#permission-bar-button {
    background-color: #36BF2D;
    border-bottom: 1px solid #222;
    border-radius: 5px;
    color: #FFF!important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin-right: 20px;
    margin-top: 2px;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px #222;
}

#permission-bar-button-no {
    background-color: #D02828;
    border-bottom: 1px solid #222;
    border-radius: 5px;
    color: #FFF!important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin-right: 20px;
    margin-top: 2px;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px #222;
}

#permission-bar-prompt {
    background: #000;
    background: rgba(0,0,0,0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

#permission-bar-prompt-content {
    background: #000;
    border-radius: 7px;
    color: #FFF;
    font-size: 14px;
    margin: 0 auto;
    max-height: 85vh;
    max-width: 98vw;
    opacity: 0.9;
    padding: 25px;
    position: relative;
    top: 5%;
    width: 600px;
    z-index: 9998;
}
#permission-bar-browsers a {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 60px;
}
#permission-bar-browsers a span {
    background: #FFF;
    border-radius: 2px;
    color: #000 !important;
    display: none;
    left: -10px;
    opacity: 0.6;
    padding: 3px 10px;
    position: absolute;
    text-align: center;
    top: 105%;
    width: 150px;
}
#permission-bar-browsers a:hover span {
    display: block;
}
.clear {
    clear: both;
}